body {
	background-color: black;
}
div {
	border: 2px solid red;
	position: absolute;
}
textarea, input {
	border: 2px solid red;
}
#fonteDoCorpo {
	color: orange;
}
#par {
	top: 0.5%;
	left: 0.5%;
	width: 49%;
	height: 111%;
}
#relatorio {	
	top: 0.5%;
	left: 50%;
	width: 49%;
	height: 111%;
	overflow: scroll;
}
#biblioteca {
	top: 113%;
	left: 0.5%;
	width: 49%;
	height: 115%;
}
#autores {
	top: 113%;
	left: 50%;
	width: 49%;
	height: 115%;
	overflow: scroll;
}
#mapa {
	top: 229%;
	left: 0.5%;
	width: 98.5%;
	height: 100%;
	overflow: scroll;
}
td {
	width: 200px;
}