#par {
	border: 2px solid black;
	position: absolute;
	top: 0.5%;
	left: 0.5%;
	width: 49%;
	height: 111%;
}
#relatorio {
	border: 2px solid black;
	position: absolute;
	top: 0.5%;
	left: 50%;
	width: 49%;
	height: 111%;
	overflow: scroll;
}
#biblioteca {
	border: 2px solid black;
	position: absolute;
	top: 113%;
	left: 0.5%;
	width: 49%;
	height: 115%;
}
#autores {
	border: 2px solid black;
	position: absolute;
	top: 113%;
	left: 50%;
	width: 49%;
	height: 115%;
	overflow: scroll;
}
#mapa {
	border: 2px solid black;
	position: absolute;
	top: 229%;
	left: 0.5%;
	width: 98.5%;
	overflow: scroll;
}